*
{
  font-family: 'Rubik', sans-serif;
}

html, body{ 
  min-height: 100vh;
  overflow: auto;
}

html
{
  background: rgb(6,173,214);
  background: linear-gradient(135deg, rgba(6,173,214,1) 50%, rgba(1,68,119,1) 100%);
}

body
{
  margin-left: 10vw;
  margin-right: 10vw;
}

h1
{
  vertical-align: middle;
  font-weight: 600;
}

table, th, td
{
  border: 2px solid white;
}

table
{
  border-collapse: collapse;
}

th, td
{
  padding: 10px;
}

th
{
  color: rgb(1,68,119);
}

tr > td
{
  font-size: 0.8em;
}

input
{
  margin: 5px 1px;
  font-size: 1.1em;
  outline: none;
  border: 2px solid rgb(1,68,119);
  border-radius: 10px;
  background: rgb(6,173,214);
  transition: background-color 0.25s ease;
}

input:active, input:focus
{
  outline: none;
  background: rgb(81,198,226);
}

input[type="submit"]
{
  padding: 5px 15px;
  border-color: transparent;
  background-color: rgb(63, 254, 10);
  box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px;
  transition: background-color 0.25s ease;
}

input[type="submit"]:hover
{
  background-color: rgb(110, 255, 75);
}

select
{
  font-size: 1.1em;
  outline: none;
  border: 2px solid rgb(1,68,119);
  border-radius: 10px;
  background: rgb(6,173,214);
  transition: background-color 0.25s ease;
}

select:active, select:focus
{
  outline: none;
  background: rgb(81,198,226);
}

.row
{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row > *
{
  margin: 10px;
}

.card
{
  padding: 5px 15px;
  color: white;
  background: rgba(255,255,255, 0.3);
  background: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.3) 100%);
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 5px;
}

.sun {
  --s:20px; /* length */
  --o:10px; /* offset */
  --c:green; /* color */
  --w:4px; /* thickness*/
  
  --grad:transparent calc(50% - var(--w)/2), 
        var(--c) calc(50% - var(--w)/2 + 1px) 
                 calc(50% + var(--w)/2 - 1px), 
         transparent calc(50% + var(--w)/2);
  
  margin:calc(var(--s) + var(--o) + 10px);
  width:25px;
  height:25px;
  display:inline-block;
  border:1px solid rgb(255,211,90);
  background: rgb(255,211,90);
  background: radial-gradient(circle, rgba(255,211,90,1) 50%, rgba(254,163,10,1) 100%);
  border-radius:50%;
  position:relative;
  left: -10px;
}
.sun::before {
  content:"";
  position:absolute;
  top:    calc(-1*var(--s) - var(--o));
  bottom: calc(-1*var(--s) - var(--o));
  left:   calc(-1*var(--s) - var(--o));
  right:  calc(-1*var(--s) - var(--o));
  border-radius:inherit;
  background:
    /* 8 rays */
    linear-gradient(0deg   ,var(--grad)),
    linear-gradient(45deg  ,var(--grad)),
    linear-gradient(-45deg ,var(--grad)),
    linear-gradient(90deg  ,var(--grad));
    /* */
  -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--s)),#fff calc(100% - var(--s)));
}

#wallet_display
{
  font-size: 1.5em;
}

#bet_history
{
  max-height: 40vh;
  overflow-y: auto;
}